<div class="bg-bg-1" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-ddd1826a="" data-v-4987e748="">
    <div class="row" data-v-ddd1826a="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-ddd1826a=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-ddd1826a=""
        >
          Bug Finder
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-ddd1826a=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-ddd1826a=""
          >
            PlayCode will find and show you all the errors and help you fix
            them.
            <span class="text-text-3" data-v-ddd1826a=""
              >It makes the process of "write, run, fix errors, again"
              instant.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-ddd1826a="">
      <div class="browser" data-v-ddd1826a="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-ddd1826a=""
          style="aspect-ratio: 1858 / 1334"
          data-ll-status="loaded"
        >
          <source
            data-src="assets/video/editor-syntax-validation.c12f0d3a.mp4"
            type="video/mp4"
            data-v-ddd1826a=""
            src="assets/video/editor-syntax-validation.c12f0d3a.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
