<div class="py-10 bg-bg-1 bg-bg-1" data-v-2d8d7e81="">
  <div class="container-max-lg py-10" data-v-2d8d7e81="">
    <div class="" data-v-2d8d7e81="">
      <div class="d-flex justify-content-center" data-v-2d8d7e81="">
        <div
          class="mb-10 text-center font-size-24 font-weight-600 max-w-550"
          data-v-2d8d7e81=""
        >
          JavaScript, TypeScript, React, Vue, Tailwind css at your fingertips
        </div>
      </div>
    </div>
    <div class="row" data-v-2d8d7e81="">
      <div class="col-24 col-sm-12 offset-sm-0" data-v-2d8d7e81="">
        <div
          class="text-center font-size-18 text-text-3 font-weight-600"
          data-v-2d8d7e81=""
        >
          Old way
        </div>
        <div class="mt-6 d-flex justify-content-center" data-v-2d8d7e81="">
          <div class="max-w-250" data-v-2d8d7e81="">
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">1.</span> Buy IDE or
              editor
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">2.</span> Install and
              configure editor
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">3.</span> Install
              Node.js
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">4.</span> Add Node.js
              to PATH
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">5.</span> Open IDE
              and create project
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">6.</span> Init NPM
              Project
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">7.</span> Configure
              Babel, Typescript, SASS...
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">8.</span> Npm Install
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">9.</span> Configure
              Webpack
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">10.</span> Create
              file
            </div>
            <div class="py-1 font-weight-400 text-text-3" data-v-2d8d7e81="">
              <span class="text-text-3" data-v-2d8d7e81="">11.</span> Write
              first line of code
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-sm-12" data-v-2d8d7e81="">
        <div
          class="mt-10 mt-sm-0 text-center font-size-18 font-weight-600"
          data-v-2d8d7e81=""
        >
          New way
        </div>
        <div class="mt-6" data-v-2d8d7e81="">
          <div class="text-wrap-normal text-center" data-v-2d8d7e81="">
            <a
              href="/react"
              class="d-block-inline el-button text-nodecor el-button--success el-button--large"
              data-v-2d8d7e81=""
            >
              Start React instantly
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
