/* .right-hand-side {
  display: flex;
  flex-direction: row-reverse;
}
.topnav {
  overflow: hidden;
  background-color: #101e2a;
}

.topnav a {
  float: left;
  color: #93a3bc;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 14px;
}

b.hilighted {
  color: #56a51b;
}
b.hilighted_two {
  color: #f37575;
}
.topnav a:hover {
  color: #56a51b;
}

.topnav a.active {
  filter: brightness(85%);
}
.icon {
  color: #04aa6d;
}
.icon_modified {
  color: #72a24d !important;
} */
