<div class="bg-bg-1" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-767c70bc="" data-v-4987e748="">
    <div class="row" data-v-767c70bc="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-767c70bc=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-767c70bc=""
        >
          The Most Flexible Layout
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-767c70bc=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-767c70bc=""
          >
            Arrange the panels as you like.
            <span class="text-text-3" data-v-767c70bc=""
              >No, really, absolutely, whatever. Any location and size.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-767c70bc="">
      <div class="browser" data-v-767c70bc="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-767c70bc=""
          style="aspect-ratio: 2032 / 1334"
          data-ll-status="entered"
        >
          <source
            data-src="assets/video/layout.1621fdad.mp4"
            type="video/mp4"
            data-v-767c70bc=""
            src="assets/video/layout.1621fdad.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
