<div class="bg-bg-1" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-115d0155="" data-v-4987e748="">
    <div class="row" data-v-115d0155="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-115d0155=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-115d0155=""
        >
          NPM Packages
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-115d0155=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-115d0155=""
          >
            Play with any of the 2 million NPM packages.
            <span class="text-text-3" data-v-115d0155=""
              >React, Vue, Lodash, RxJs, p5.js, three.js, etc.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-115d0155="">
      <div class="browser" data-v-115d0155="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="w-100 lazy entered loaded"
          data-v-115d0155=""
          style="aspect-ratio: 1858 / 1334"
          data-ll-status="entered"
        >
          <source
            data-src="assets/video/packages.8a924c47.mp4"
            type="video/mp4"
            data-v-115d0155=""
            src="assets/video/packages.8a924c47.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
