<div class="bg-bg-2" data-v-67f5416b="">
  <div class="py-5" data-v-67f5416b=""></div>
  <div class="container-max-sm" data-v-67f5416b="">
    <div class="row" data-v-67f5416b="">
      <div class="col-24 text-left px-8 text-break-word" data-v-67f5416b="">
        <div class="font-size-16" data-v-67f5416b="">
          <div
            class="font-size-28 font-weight-600 text-text-2"
            data-v-67f5416b=""
          >
            Questions &amp; answers
          </div>
          <div class="mt-3 text-text-3" data-v-67f5416b="">
            Can’t find the answer here?
            <span
              class="text-text-3-hover-primary-1 text-decor cursor-pointer"
              data-v-67f5416b=""
              >Contact support</span
            >
          </div>
          <div
            class="mt-10 font-size-16 font-weight-600 text-text-2"
            data-v-67f5416b=""
          >
            Would you like to pay by ACH Bank Transfer, BTC?
          </div>
          <div
            class="mt-5 font-size-16 font-weight-400 text-text-2"
            data-v-67f5416b=""
          >
            Write us to
            <span
              class="text-text-2-hover-primary-1 text-decor cursor-pointer"
              data-v-67f5416b=""
              >online chat</span
            >, we will send you an invoice or a payment request.
          </div>
          <div
            class="mt-7 font-size-16 font-weight-600 text-text-2"
            data-v-67f5416b=""
          >
            How can we pay, and how are we billed?
          </div>
          <div
            class="mt-5 font-size-15 font-weight-400 text-text-2"
            data-v-67f5416b=""
          >
            Billing happens on the date of the subscription – each month or each
            year – depending on whether you choose a monthly or annual
            subscription. You will get a receipt on your email.
          </div>
          <div
            class="mt-7 font-size-16 font-weight-600 text-text-2"
            data-v-67f5416b=""
          >
            Is our data secure?
          </div>
          <div
            class="mt-5 font-size-15 font-weight-400 text-text-2"
            data-v-67f5416b=""
          >
            We understand the sensitive and proprietary nature of the projects
            that our customers create. As a result, we encrypt all our
            communication through SSL. All data is stored securely, and backed
            up regularly in multiple geographic locations.
          </div>
          <div
            class="mt-7 font-size-16 font-weight-600 text-text-2"
            data-v-67f5416b=""
          >
            What happens if we want to change plans?
          </div>
          <div
            class="mt-5 font-size-15 font-weight-400 text-text-2"
            data-v-67f5416b=""
          >
            You can downgrade at any time, and there are no hidden fees. If you
            downgrade, your subscription remains valid for the period you’ve
            already paid for. And, you can upgrade when you need to – and regain
            access to our Premium features.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-67f5416b=""></div>
</div>
