<div class="py-10 bg-bg-2" data-v-e970b3ba="">
  <div class="py-8 container-max-lg pt-0" data-v-e970b3ba="">
    <div class="row align-items-center" data-v-e970b3ba="">
      <div class="col-sm-24 col-md-24 offset-0" data-v-e970b3ba="">
        <h1
          class="text-center text-text-2 font-size-50 font-weight-800"
          data-v-e970b3ba=""
          style="line-height: 60px"
        >
          Frontend Developer Path
        </h1>
        <div class="d-flex justify-content-center" data-v-e970b3ba="">
          <div data-v-e970b3ba="">
            <div class="d-flex align-items-center" data-v-e970b3ba="">
              <div
                class="text-text-2 font-size-28 font-weight-600 text-danger-2"
                data-v-e970b3ba=""
              >
                Learn Faster
              </div>
              <div class="ml-2 font-size-16" data-v-e970b3ba="">
                - with interactive lessons
              </div>
            </div>
            <div class="mt-3 d-flex align-items-center" data-v-e970b3ba="">
              <div
                class="text-text-2 font-size-28 font-weight-600 text-primary-3"
                data-v-e970b3ba=""
              >
                Step by Step
              </div>
              <div class="ml-2 font-size-16" data-v-e970b3ba="">
                - keep your progress transparent
              </div>
            </div>
            <div class="mt-3 d-flex align-items-center" data-v-e970b3ba="">
              <div
                class="font-size-28 font-weight-600 text-warning-2"
                data-v-e970b3ba=""
              >
                Project-Driven
              </div>
              <div class="ml-2 font-size-16" data-v-e970b3ba="">
                - learn through building real projects
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 d-flex justify-content-center" data-v-e970b3ba="">
      <a
        href="/sign-up?next=/learn/learn-html-by-building-a-cat-photo-app/step-1"
        class="el-button text-nodecor el-button--success el-button--extra-large"
        data-v-e970b3ba=""
        ><span data-v-e970b3ba="">Get Started</span></a
      >
    </div>
    <div class="d-sm-block" data-v-e970b3ba="">
      <div class="row mt-10" data-v-e970b3ba="">
        <div class="col-24" data-v-e970b3ba="">
          <div class="browser" data-v-e970b3ba="">
            <video
              autoplay=""
              loop=""
              playsinline=""
              class="w-100"
              data-v-e970b3ba=""
            >
              <source
                src="assets/video/learn-intro.717037b6.mp4"
                type="video/mp4"
                data-v-e970b3ba=""
              />
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
