<div class="py-10 bg-bg-2">
  <div class="py-10 container-max-sm pt-0" style="text-align: justify-all">
    <div class="d-flex justify-content-center">
      <div class="mb-6 text-center font-size-24 font-weight-600 max-w-450">
        About JavaScript
      </div>
    </div>
    <div class="font-size-16 text-text-2">
      <p class="font-size-16 text-text-2 font-weight-400">
        JavaScript is one of must popular languages for web development.
      </p>
      <p class="font-size-16 text-text-2 font-weight-400">
        It is needed in order to make web pages alive. Today JavaScript can be
        run not only in the browser, but also on the server.
      </p>
    </div>
    <div class="py-10"></div>
    <div class="d-flex justify-content-center">
      <div class="mb-6 text-center font-size-24 font-weight-600 max-w-450">
        Why JavaScript Playground/Sandbox/Repl?
      </div>
    </div>
    <div class="font-size-16 text-text-2">
      <p class="font-size-16 text-text-2 font-weight-400">
        Learning, practicing and prototyping is much easier right in the
        javascript playground, because the browser is designed to run
        javascript. This is the perfect coding IDE.
      </p>
      <p class="font-size-16 text-text-2 font-weight-400">
        In turn, PlayCode tries to use all the browser features to ensure
        maximum, comfortable run javascript sandbox.
      </p>
      <p class="font-size-16 text-text-2 font-weight-400">
        REPL - read-eval-print-loop, simple preconfigured coding environment
        which quickly shows javascript execution result. Just type your code and
        repl it. No configs or "npm install".
      </p>
      <p class="font-size-16 text-text-2 font-weight-400">
        So, you just open PlayCode without installing anything, write code,
        javascript playground runs your code instantly and shows the result.
        Focus on learning javascript and practicing.
      </p>
    </div>
  </div>
</div>
