<div class="py-10 bg-bg-2" data-v-e6d243b2="" data-v-4987e748="">
  <div class="py-10 container-max-lg pt-0" data-v-e6d243b2="">
    <div class="d-flex justify-content-center" data-v-e6d243b2="">
      <div
        class="mb-10 text-center font-size-24 font-weight-600 max-w-400"
        data-v-e6d243b2=""
      >
        Try it, PlayCode is free.
      </div>
    </div>
    <div class="row align-items-center" data-v-e6d243b2="">
      <div
        class="col-sm-24 text-center d-flex justify-content-center flex-wrap"
        data-v-e6d243b2=""
      >
        <div class="mx-2 mb-4" data-v-e6d243b2="">
          <a
            href="/sign-up"
            class="el-button text-nodecor el-button--success el-button--extra-large"
            data-v-679c824f=""
            data-v-e6d243b2=""
            >Start Creating</a
          >
        </div>
        <div class="mx-2 mb-4" data-v-e6d243b2="">
          <a
            href="/learn"
            class="el-button text-nodecor el-button--danger is-plain el-button--extra-large"
            data-v-e6d243b2=""
          >
            Start learning
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
