<div class="bg-bg-2" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-5fa615c8="" data-v-4987e748="">
    <div class="row" data-v-5fa615c8="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-5fa615c8=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-5fa615c8=""
        >
          Preview in a New Window
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-5fa615c8=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-5fa615c8=""
          >
            Use the new browser window to debug the result.
            <span class="text-text-3" data-v-5fa615c8=""
              >Check responsive websites or use multiple monitors.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-5fa615c8="">
      <div class="browser" data-v-5fa615c8="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-5fa615c8=""
          style="aspect-ratio: 2198 / 1336"
          data-ll-status="loaded"
        >
          <source
            data-src="assets/video/new-window.fc8c732a.mp4"
            type="video/mp4"
            data-v-5fa615c8=""
            src="assets/video/new-window.fc8c732a.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
