<div class="py-10 bg-bg-2">
  <div class="pt-8 container-max-lg pt-0">
    <div class="row align-items-center">
      <div class="col-sm-24 col-md-24 offset-0">
        <h1
          class="text-center text-text-2 font-size-50 font-weight-800"
          style="line-height: 60px"
        >
          Javascript Playground
        </h1>
        <div class="d-flex justify-content-center">
          <div class="text-text-2 font-size-28 font-weight-600 text-primary-3">
            Code
          </div>
          <div
            class="text-text-2 font-size-28 font-weight-600 text-danger-2 ml-6"
          >
            Learn
          </div>
          <div class="font-size-28 font-weight-600 text-warning-2 ml-6">
            <span class="d-none d-sm-inline">Easy &amp; </span> Fast
          </div>
        </div>
        <div class="text-center mt-6">
          <div
            class="d-flex justify-content-center font-size-18 text-text-2 font-weight-400"
          >
            <div class="max-w-550">
              The #1 JavaScript playground and sandbox to write, run and repl
              it. JavaScript playground is perfect for learning and prototyping
              javascript sandboxes. Fast. Easy to use. Start javascript
              playground project using ready to use templates.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 d-flex justify-content-center flex-wrap">
      <a
        href="/sign-up"
        class="el-button text-nodecor el-button--success el-button--extra-large mx-2 mb-4"
        data-v-679c824f=""
        >Start Creating</a
      >
      <div class="mx-2 mb-4">
        <a
          href="/learn"
          class="el-button text-nodecor el-button--danger is-plain el-button--extra-large"
        >
          Start learning
        </a>
      </div>
    </div>
    <div class="browser-cnt d-block d-sm-flex justify-content-center pt-8 pb-8">
      <div class="browser w-100">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="w-100 lazy entered loaded"
          style="aspect-ratio: 1560 / 1002"
          data-ll-status="loaded"
        >
          <source
            data-src="assets/video/welcome-blue.edddaf02.webm"
            type="video/webm"
            src="assets/video/welcome-blue.edddaf02.webm"
          />
          <source
            data-src="/static/media/welcome-blue.833f27c4.mp4"
            type="video/mp4"
            src="/static/media/welcome-blue.833f27c4.mp4"
          />
        </video>
      </div>
    </div>
  </div>
</div>
