<div class="container-max-sm" data-v-67f5416b="">
  <div class="row" data-v-67f5416b="">
    <div class="col-24 text-break-word" data-v-67f5416b="">
      <div class="bg-bg-2" data-v-67f5416b="">
        <div class="mt-10 row" data-v-67f5416b="">
          <div class="col-sm-12" data-v-67f5416b="">
            <div
              class="h-100 border border-border-3 border-radius-5 bg-bg-1"
              data-v-67f5416b=""
            >
              <div class="px-5 py-5 bg-bg-2 border-radius-4" data-v-67f5416b="">
                <div
                  class="font-size-24 font-weight-600 text-warning-1"
                  data-v-67f5416b=""
                >
                  Personal
                </div>
                <div
                  class="font-size-16 mt-2"
                  data-v-67f5416b=""
                  style="line-height: 1.4em"
                >
                  For quickly testing small code snippets and learning
                  JavaScript.
                </div>
              </div>
              <hr class="border-border-3 my-0" data-v-67f5416b="" />
              <div class="px-5 py-5" data-v-67f5416b="">
                <div class="" data-v-67f5416b="" style="min-height: 100px">
                  <div
                    class="d-flex"
                    data-v-67f5416b=""
                    style="vertical-align: top"
                  >
                    <span
                      class="font-size-36 font-weight-600"
                      data-v-67f5416b=""
                      >Free</span
                    >
                  </div>
                  <div
                    class="text-text-3 mt-0_5 font-size-12"
                    data-v-67f5416b=""
                  >
                    For individuals
                  </div>
                </div>
                <div class="mt-7 mb-5" data-v-67f5416b="">
                  <div class="d-flex justify-content-center" data-v-67f5416b="">
                    <button
                      class="el-button el-button--default el-button--large is-disabled w-100"
                      aria-disabled="true"
                      disabled=""
                      type="button"
                      data-v-67f5416b=""
                    >
                      <!--v-if--><span class="">Current</span>
                    </button>
                  </div>
                </div>
                <div
                  class="mt-5 font-weight-400 font-size-16"
                  data-v-67f5416b=""
                >
                  <div class="d-flex align-items-center" data-v-67f5416b="">
                    <i
                      class="el-icon text-primary-2"
                      data-v-67f5416b=""
                      style="font-size: 20px"
                      ><svg
                        viewBox="0 0 1024 1024"
                        xmlns="http://www.w3.org/2000/svg"
                        data-v-67f5416b=""
                      >
                        <path
                          fill="currentColor"
                          d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                        ></path></svg
                    ></i>
                    <div class="ml-2" data-v-67f5416b="">
                      Unlimited projects
                    </div>
                  </div>
                  <div
                    class="d-flex mt-3 align-items-center"
                    data-v-67f5416b=""
                  >
                    <i
                      class="el-icon text-primary-2"
                      data-v-67f5416b=""
                      style="font-size: 20px"
                      ><svg
                        viewBox="0 0 1024 1024"
                        xmlns="http://www.w3.org/2000/svg"
                        data-v-67f5416b=""
                      >
                        <path
                          fill="currentColor"
                          d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                        ></path></svg
                    ></i>
                    <div class="ml-2" data-v-67f5416b="">8 lines of code</div>
                  </div>
                  <div
                    class="d-flex mt-3 align-items-center"
                    data-v-67f5416b=""
                  >
                    <i
                      class="el-icon text-primary-2"
                      data-v-67f5416b=""
                      style="font-size: 20px"
                      ><svg
                        viewBox="0 0 1024 1024"
                        xmlns="http://www.w3.org/2000/svg"
                        data-v-67f5416b=""
                      >
                        <path
                          fill="currentColor"
                          d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                        ></path></svg
                    ></i>
                    <div class="ml-2" data-v-67f5416b="">
                      Assets storage
                      <span class="text-text-3 ml-1" data-v-67f5416b=""
                        >4 MB</span
                      >
                    </div>
                  </div>
                  <div
                    class="d-flex mt-3 align-items-center"
                    data-v-67f5416b=""
                  >
                    <i
                      class="el-icon text-primary-2"
                      data-v-67f5416b=""
                      style="font-size: 20px"
                      ><svg
                        viewBox="0 0 1024 1024"
                        xmlns="http://www.w3.org/2000/svg"
                        data-v-67f5416b=""
                      >
                        <path
                          fill="currentColor"
                          d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                        ></path></svg
                    ></i>
                    <div class="ml-2" data-v-67f5416b="">
                      Deploy up to 3 websites
                      <span
                        class="text-text-3 cursor-default ml-1 el-tooltip__trigger el-tooltip__trigger"
                        data-v-67f5416b=""
                      >
                        with intro
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 mt-7 mt-sm-0" data-v-67f5416b="">
            <div
              class="h-100 border border-border-3 bg-bg-1 border-radius-5"
              data-v-67f5416b=""
            >
              <div class="px-5 py-5 bg-bg-2 border-radius-4" data-v-67f5416b="">
                <div
                  class="font-size-24 font-weight-600 text-primary-2 d-flex align-items-center"
                  data-v-67f5416b=""
                >
                  <svg
                    class="svg-icon svg-icon--core/playcode-icon text-primary-2"
                    xmlns="http://www.w3.org/2000/svg"
                    data-v-67f5416b=""
                    style="width: 24px; height: 21px"
                  >
                    <!---->
                    <use
                      xlink:href="/static/img/icons.3a319132.svg#core_playcode-icon"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    ></use>
                  </svg>
                  <div class="ml-2" data-v-67f5416b="">Personal Pro</div>
                </div>
                <div
                  class="font-size-16 mt-2"
                  data-v-67f5416b=""
                  style="line-height: 1.4em"
                >
                  For power users who want to do even more.
                </div>
              </div>
              <hr class="border-border-3 my-0" data-v-67f5416b="" />
              <div class="px-5 py-5" data-v-67f5416b="">
                <div data-v-67f5416b="" style="min-height: 100px">
                  <div
                    class="d-flex"
                    data-v-67f5416b=""
                    style="vertical-align: top"
                  >
                    <span
                      class="font-size-24 font-weight-600 mt-1"
                      data-v-67f5416b=""
                      >$</span
                    ><span
                      class="font-size-36 font-weight-600"
                      data-v-67f5416b=""
                      style="margin-left: 1px"
                      >1</span
                    ><span
                      class="font-size-18 align-self-end mb-1 font-weight-600"
                      data-v-67f5416b=""
                      style="margin-left: 1px"
                      >.99</span
                    >
                  </div>
                  <div
                    class="text-text-3 mt-0_5 font-size-12"
                    data-v-67f5416b=""
                  >
                    per month
                  </div>
                  <div
                    class="text-text-3 mt-0_5 font-size-12"
                    data-v-67f5416b=""
                  >
                    billed annually
                  </div>
                  <div
                    class="text-text-3 mt-0_5 font-size-12"
                    data-v-67f5416b=""
                  >
                    <span class="font-weight-600" data-v-67f5416b=""
                      >$2.99</span
                    >
                    billed monthly
                  </div>
                </div>
                <div class="mt-7 mb-5" data-v-67f5416b="">
                  <div class="d-flex justify-content-center" data-v-67f5416b="">
                    <button
                      class="el-button el-button--danger el-button--large w-100"
                      aria-disabled="false"
                      type="button"
                      data-v-67f5416b=""
                    >
                      <!--v-if--><span class="">Continue</span>
                    </button>
                  </div>
                </div>
                <div
                  class="mt-5 font-weight-400 font-size-16"
                  data-v-67f5416b=""
                >
                  <div class="font-weight-400 font-size-16" data-v-67f5416b="">
                    <div
                      class="d-flex align-items-center mb-3"
                      data-v-67f5416b=""
                    >
                      <div class="font-weight-600" data-v-67f5416b="">
                        Everything in Personal, plus
                      </div>
                    </div>
                    <div class="d-flex align-items-center" data-v-67f5416b="">
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Unlimited lines of code
                      </div>
                    </div>
                    <div
                      class="d-flex mt-3 align-items-center"
                      data-v-67f5416b=""
                    >
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Learn (interactive tutorials)
                      </div>
                    </div>
                    <div
                      class="mt-3 d-flex align-items-center"
                      data-v-67f5416b=""
                    >
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Unlimited private projects
                      </div>
                    </div>
                    <div
                      class="d-flex mt-3 align-items-center"
                      data-v-67f5416b=""
                    >
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Assets storage
                        <span class="text-text-3 ml-1" data-v-67f5416b=""
                          >1000 MB</span
                        >
                      </div>
                    </div>
                    <div
                      class="d-flex mt-3 align-items-center"
                      data-v-67f5416b=""
                    >
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Deploy up to 3 websites
                      </div>
                    </div>
                    <div
                      class="d-flex mt-3 align-items-center"
                      data-v-67f5416b=""
                    >
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Custom domains &amp; HTTPS
                      </div>
                    </div>
                    <div
                      class="d-flex mt-3 align-items-center"
                      data-v-67f5416b=""
                    >
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Custom subdomains
                      </div>
                    </div>
                    <div
                      class="d-flex mt-3 align-items-center"
                      data-v-67f5416b=""
                    >
                      <i
                        class="el-icon text-primary-2"
                        data-v-67f5416b=""
                        style="font-size: 20px"
                        ><svg
                          viewBox="0 0 1024 1024"
                          xmlns="http://www.w3.org/2000/svg"
                          data-v-67f5416b=""
                        >
                          <path
                            fill="currentColor"
                            d="M406.656 706.944 195.84 496.256a32 32 0 1 0-45.248 45.248l256 256 512-512a32 32 0 0 0-45.248-45.248L406.592 706.944z"
                          ></path></svg
                      ></i>
                      <div class="ml-2" data-v-67f5416b="">
                        Priority support
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---->
        </div>
      </div>
      <div class="py-10" data-v-67f5416b=""></div>
    </div>
  </div>
</div>
