<div class="bg-bg-2" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-4cce9167="" data-v-4987e748="">
    <div class="row" data-v-4cce9167="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-4cce9167=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-4cce9167=""
        >
          Documentation On Hover
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-4cce9167=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-4cce9167=""
          >
            The documentation is at your fingertips.
            <span class="text-text-3" data-v-4cce9167=""
              >No need to Open Google and constantly look for how to use this or
              that function.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-4cce9167="">
      <div class="browser" data-v-4cce9167="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-4cce9167=""
          style="aspect-ratio: 1858 / 1334"
          data-ll-status="loaded"
        >
          <source
            data-src="/assets/video/editor-hover.ab475fe4.mp4"
            type="video/mp4"
            data-v-4cce9167=""
            src="/assets/video/editor-hover.ab475fe4.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
