<!-- <div class="bg-bg-1" data-v-1a1fbd16="" data-v-4987e748="">
  <div class="py-10" data-v-1a1fbd16=""></div>
  <div class="container-max-sm" data-v-1a1fbd16="">
    <div class="row" data-v-1a1fbd16="">
      <div class="col-24 text-break-word" data-v-1a1fbd16="">
        <div class="mt-10 pt-10 text-left" data-v-1a1fbd16="">
          <div class="d-flex justify-content-center" data-v-1a1fbd16="">
            <h3
              class="text-text-2 font-size-38 mb-10 mt-0 font-weight-600 header-shadow"
              data-v-1a1fbd16=""
            >
              Reviews
            </h3>
          </div>
          <div data-v-1a1fbd16="">
            <div class="d-flex" data-v-1a1fbd16="">
              <div data-v-1a1fbd16="">
                <div
                  class="el-image user-photo"
                  data-v-1a1fbd16=""
                  style="aspect-ratio: 320 / 320"
                >
                  <img
                    src="/static/img/linda.77fd451f.jpeg"
                    class="el-image__inner"
                  />
                </div>
              </div>
              <div class="ml-3" data-v-1a1fbd16="">
                <div
                  class="font-weight-600 font-size-15 text-text-3"
                  data-v-1a1fbd16=""
                >
                  Linda MacDonald
                </div>
                <div
                  class="font-weight-600 font-size-15 text-text-2 mt-3"
                  data-v-1a1fbd16=""
                >
                  React, vue, tailwind css at your fingertips
                </div>
              </div>
            </div>
            <div
              class="font-weight-400 font-size-15 text-text-2 mt-3"
              data-v-1a1fbd16=""
            >
              At first I didnt quite understand the value of this deal, so took
              it for a spin, and I immediately got hooked :) let me just start
              by saying this is SOOOO super sleek!! Ran a few bugs intentionally
              and was shown an immediate and exact description of the bug that I
              had created. The debug feature is worth the price alone! Then I
              spun up a react project within seconds, (spun up meaning I clicked
              a button!) and a live preview was INSTANTLY there! no npm run
              start or anything. and there is virtually any hot frontend
              framework you can think of vue.js 3 is there! and a whole range of
              css frameworks including my personal favorite: tailwind css. super
              pleased!!!!!!
            </div>
          </div>
          <div class="mt-10" data-v-1a1fbd16="">
            <div class="d-flex" data-v-1a1fbd16="">
              <div data-v-1a1fbd16="">
                <div class="el-image user-photo" data-v-1a1fbd16="">
                  <div class="el-image__wrapper">
                    <div
                      class="bg-bg-3 w-100 h-100 d-flex justify-content-center align-items-center"
                      data-v-1a1fbd16=""
                    >
                      <div class="font-size-16" data-v-1a1fbd16="">MF</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ml-3" data-v-1a1fbd16="">
                <div
                  class="font-weight-600 font-size-15 text-text-3"
                  data-v-1a1fbd16=""
                >
                  MarcLaFord
                </div>
                <div
                  class="font-weight-600 font-size-15 text-text-2 mt-3"
                  data-v-1a1fbd16=""
                >
                  Great for learning, testing and saving time
                </div>
              </div>
            </div>
            <div
              class="font-weight-400 font-size-15 text-text-2 mt-3"
              data-v-1a1fbd16=""
            >
              I use this for learning and testing various web technologies. Gone
              is the time spent setting everything up, I also get an instant
              live preview of my work coupled with a useful console. I work with
              tailwindcss, alpinejs, bootstrap and I can easily explore other
              technologies. The author is responsive and maintains the
              application. I requested some frameworks, these were subsequently
              added. I am glad to have this tool in my arsenal as it changes the
              way I now work on the web.
            </div>
          </div>
          <div class="mt-10" data-v-1a1fbd16="">
            <div class="d-flex" data-v-1a1fbd16="">
              <div data-v-1a1fbd16="">
                <div
                  class="el-image user-photo"
                  data-v-1a1fbd16=""
                  style="aspect-ratio: 320 / 320"
                >
                  <img
                    src="/static/img/mark.84e618ba.jpg"
                    class="el-image__inner"
                  />
                </div>
              </div>
              <div class="ml-3" data-v-1a1fbd16="">
                <div
                  class="font-weight-600 font-size-15 text-text-3"
                  data-v-1a1fbd16=""
                >
                  Emad Alhamou
                </div>
                <div
                  class="font-weight-600 font-size-15 text-text-2 mt-3"
                  data-v-1a1fbd16=""
                >
                  A central place to try out code and test new ideas out
                </div>
              </div>
            </div>
            <div
              class="font-weight-400 font-size-15 text-text-2 mt-3"
              data-v-1a1fbd16=""
            >
              I need a central (online) to try out code and test new ideas out.
              PlayCode is simple to use, elegant, and seems to have covered all
              the main frameworks and libraries.
            </div>
          </div>
          <div class="mt-10" data-v-1a1fbd16="">
            <div class="d-flex" data-v-1a1fbd16="">
              <div data-v-1a1fbd16="">
                <div class="el-image user-photo" data-v-1a1fbd16="">
                  <div class="el-image__wrapper">
                    <div
                      class="bg-bg-3 w-100 h-100 d-flex justify-content-center align-items-center"
                      data-v-1a1fbd16=""
                    >
                      <div class="font-size-16" data-v-1a1fbd16="">K</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ml-3" data-v-1a1fbd16="">
                <div
                  class="font-weight-600 font-size-15 text-text-3"
                  data-v-1a1fbd16=""
                >
                  Konstantin
                </div>
                <div
                  class="font-weight-600 font-size-15 text-text-2 mt-3"
                  data-v-1a1fbd16=""
                >
                  Just what I am looking for
                </div>
              </div>
            </div>
            <div
              class="font-weight-400 font-size-15 text-text-2 mt-3"
              data-v-1a1fbd16=""
            >
              It's just great! Very underrated tool, extremely useful for devs
              and other dev enthusiasts and everyone who want to learn coding!
            </div>
          </div>
          <div class="mt-10" data-v-1a1fbd16="">
            <div class="d-flex" data-v-1a1fbd16="">
              <div data-v-1a1fbd16="">
                <div class="el-image user-photo" data-v-1a1fbd16="">
                  <div class="el-image__wrapper">
                    <div
                      class="bg-bg-3 w-100 h-100 d-flex justify-content-center align-items-center"
                      data-v-1a1fbd16=""
                    >
                      <div class="font-size-16" data-v-1a1fbd16="">LH</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ml-3" data-v-1a1fbd16="">
                <div
                  class="font-weight-600 font-size-15 text-text-3"
                  data-v-1a1fbd16=""
                >
                  lewishole
                </div>
                <div
                  class="font-weight-600 font-size-15 text-text-2 mt-3"
                  data-v-1a1fbd16=""
                >
                  Great and recommended
                </div>
              </div>
            </div>
            <div
              class="font-weight-400 font-size-15 text-text-2 mt-3"
              data-v-1a1fbd16=""
            >
              An attractive and useful code editor especially the subdomain
              feature is awesome. I would recommend people to try Playcode. Nice
              job, keep going!
            </div>
          </div>
          <div class="mt-10" data-v-1a1fbd16="">
            <div class="d-flex" data-v-1a1fbd16="">
              <div data-v-1a1fbd16="">
                <div class="el-image user-photo" data-v-1a1fbd16="">
                  <div class="el-image__wrapper">
                    <div
                      class="bg-bg-3 w-100 h-100 d-flex justify-content-center align-items-center"
                      data-v-1a1fbd16=""
                    >
                      <div class="font-size-16" data-v-1a1fbd16="">EL</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ml-3" data-v-1a1fbd16="">
                <div
                  class="font-weight-600 font-size-15 text-text-3"
                  data-v-1a1fbd16=""
                >
                  Emad Alhamou
                </div>
                <div
                  class="font-weight-600 font-size-15 text-text-2 mt-3"
                  data-v-1a1fbd16=""
                >
                  very nice experience
                </div>
              </div>
            </div>
            <div
              class="font-weight-400 font-size-15 text-text-2 mt-3"
              data-v-1a1fbd16=""
            >
              A very nice experience, a beautiful editor that meets all the
              needs of JavaScript, the ability to add external libraries is
              great, windows and customize them are one of the best features,
              also the most important thing is the console and showing the
              result in a separate window, a really great thing. I highly
              recommend trying it, it's worth it
            </div>
          </div>
        </div>
        <div class="py-10" data-v-1a1fbd16=""></div>
        <div class="py-10" data-v-1a1fbd16=""></div>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-1a1fbd16=""></div>
</div> -->
