<div class="bg-bg-2" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-09dda700="" data-v-4987e748="">
    <div class="row" data-v-09dda700="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-09dda700=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-09dda700=""
        >
          Assets
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-09dda700=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-09dda700=""
          >
            Upload images, videos, sounds, or any other file formats.
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-09dda700="">
      <div class="browser" data-v-09dda700="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-09dda700=""
          style="aspect-ratio: 2032 / 1334"
          data-ll-status="loaded"
        >
          <source
            data-src="assets/video/assets.c447427e.mp4"
            type="video/mp4"
            data-v-09dda700=""
            src="assets/video/assets.c447427e.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
