<div class="w-100" data-v-e970b3ba="">
  <div
    class="px-4 mt-10 font-size-24 font-weight-600 text-left"
    data-v-e970b3ba=""
  >
    HTML and CSS
  </div>
  <div class="courses-grid mt-6" data-v-e970b3ba="">
    <a
      href="/learn/learn-html-by-building-a-cat-photo-app"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/html.e8d61988.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">1.</span> Learn HTML by
          Building a Cat Photo App
        </div>
      </div></a
    ><a
      href="/learn/learn-basic-css-by-building-a-cafe-menu"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">2.</span> Learn Basic CSS by
          Building a Cafe Menu
        </div>
      </div></a
    ><a
      href="/learn/learn-css-colors-by-building-a-set-of-colored-markers"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">3.</span> Learn CSS Colors by
          Building a Set of Colored Markers
        </div>
      </div></a
    ><a
      href="/learn/learn-html-forms-by-building-a-registration-form"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/html.e8d61988.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">4.</span> Learn HTML Forms by
          Building a Registration Form
        </div>
      </div></a
    ><a
      href="/learn/learn-the-css-box-model-by-building-a-rothko-painting"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">5.</span> Learn the CSS Box
          Model by Building a Rothko Painting
        </div>
      </div></a
    ><a
      href="/learn/learn-css-flexbox-by-building-a-photo-gallery"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">6.</span> Learn CSS Flexbox by
          Building a Photo Gallery
        </div>
      </div></a
    ><a
      href="/learn/learn-typography-by-building-a-nutrition-label"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/html.e8d61988.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">7.</span> Learn Typography by
          Building a Nutrition Label
        </div>
      </div></a
    ><a
      href="/learn/learn-accessibility-by-building-a-quiz"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/html.e8d61988.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">8.</span> Learn Accessibility
          by Building a Quiz
        </div>
      </div></a
    ><a
      href="/learn/learn-more-about-css-pseudo-selectors-by-building-a-balance-sheet"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">9.</span> Learn More About CSS
          Pseudo Selectors By Building A Balance Sheet
        </div>
      </div></a
    ><a
      href="/learn/learn-intermediate-css-by-building-a-picasso-painting"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">10.</span> Learn Intermediate
          CSS by Building a Picasso Painting
        </div>
      </div></a
    ><a
      href="/learn/learn-responsive-web-design-by-building-a-piano"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/html.e8d61988.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">11.</span> Learn Responsive
          Web Design by Building a Piano
        </div>
      </div></a
    ><a
      href="/learn/learn-css-variables-by-building-a-city-skyline"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">12.</span> Learn CSS Variables
          by Building a City Skyline
        </div>
      </div></a
    ><a
      href="/learn/learn-css-grid-by-building-a-magazine"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">13.</span> Learn CSS Grid by
          Building a Magazine
        </div>
      </div></a
    ><a
      href="/learn/learn-css-animation-by-building-a-ferris-wheel"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">14.</span> Learn CSS Animation
          by Building a Ferris Wheel
        </div>
      </div></a
    ><a
      href="/learn/learn-css-transforms-by-building-a-penguin"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/css3.d5a28599.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">15.</span> Learn CSS
          Transforms by Building a Penguin
        </div>
      </div></a
    >
  </div>
</div>
