<div class="bg-bg-2" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-727026be="" data-v-4987e748="">
    <div class="row" data-v-727026be="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-727026be=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-727026be=""
        >
          Emmet Shortcuts
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-727026be=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-727026be=""
          >
            Emmet will make your HTML &amp; CSS coding unbelievable smooth and
            fast.
            <span class="text-text-3" data-v-727026be=""
              >Type less work faster. You have to try it!</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-727026be="">
      <div class="browser" data-v-727026be="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-727026be=""
          style="aspect-ratio: 1858 / 1334"
          data-ll-status="entered"
        >
          <source
            data-src="assets/video/editor-emmet.3164cf03.mp4"
            type="video/mp4"
            data-v-727026be=""
            src="assets/video/editor-emmet.3164cf03.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
