<div class="bg-bg-1" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-59e92b7c="" data-v-4987e748="">
    <div class="row" data-v-59e92b7c="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-59e92b7c=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-59e92b7c=""
        >
          Code Autocomplete
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-59e92b7c=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-59e92b7c=""
          >
            Type code faster and easier with smart code autocomplete.
            <span class="text-text-3" data-v-59e92b7c=""
              >It helps avoid looking for documentation every time and it adds
              confidence in your coding abilities.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-59e92b7c="">
      <div class="browser" data-v-59e92b7c="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-59e92b7c=""
          style="aspect-ratio: 1858 / 1334"
          data-ll-status="loaded"
        >
          <source
            data-src="assets/video/editor-autocomplete.e00f40d0.mp4"
            type="video/mp4"
            data-v-59e92b7c=""
            src="assets/video/editor-autocomplete.e00f40d0.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
