<div class="w-100" data-v-e970b3ba="">
  <div
    class="px-4 mt-10 font-size-24 font-weight-600 text-left"
    data-v-e970b3ba=""
  >
    JavaScript
  </div>
  <div class="courses-grid mt-6" data-v-e970b3ba="">
    <a
      href="/learn/basic-javascript"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">1.</span> Basic JavaScript
        </div>
      </div></a
    ><a href="/learn/es6" class="course px-5 py-5 mb-3" data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">2.</span> ES6
        </div>
      </div></a
    ><a
      href="/learn/regular-expressions"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">3.</span> Regular Expressions
        </div>
      </div></a
    ><a href="/learn/debugging" class="course px-5 py-5 mb-3" data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">4.</span> Debugging
        </div>
      </div></a
    ><a
      href="/learn/basic-data-structures"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">5.</span> Basic Data
          Structures
        </div>
      </div></a
    ><a
      href="/learn/basic-algorithm-scripting"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">6.</span> Basic Algorithm
          Scripting
        </div>
      </div></a
    ><a
      href="/learn/object-oriented-programming"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">7.</span> Object Oriented
          Programming
        </div>
      </div></a
    ><a
      href="/learn/functional-programming"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">8.</span> Functional
          Programming
        </div>
      </div></a
    ><a
      href="/learn/intermediate-algorithm-scripting"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">9.</span> Intermediate
          Algorithm Scripting
        </div>
      </div></a
    ><a
      href="/learn/javascript-algorithms-and-data-structures-projects"
      class="course px-5 py-5 mb-3"
      data-v-e970b3ba=""
      ><div class="d-flex align-items-center text-left" data-v-e970b3ba="">
        <img
          src="assets/img/javascript.0c5b29fc.svg"
          height="38"
          width="38"
          data-v-e970b3ba=""
        />
        <div
          class="ml-3 font-weight-600 font-size-14 text-text-2 text-break-word"
          data-v-e970b3ba=""
        >
          <span class="pr-0_5" data-v-e970b3ba="">10.</span> JavaScript
          Algorithms and Data Structures Projects
        </div>
      </div></a
    >
  </div>
</div>
