<div class="py-10 bg-bg-2 bg-bg-2" data-v-58f78eca="">
  <div class="py-8 container-max-lg" data-v-58f78eca="">
    <div class="row py-10" data-v-58f78eca="">
      <div class="col-24 col-sm-12 mb-8 mb-sm-0" data-v-58f78eca="">
        <div class="d-flex justify-content-center" data-v-58f78eca="">
          <div class="max-w-250" data-v-58f78eca="">
            <div class="font-size-18 font-weight-600" data-v-58f78eca="">
              Ready to use many frontend and frameworks languages
            </div>
            <div class="mt-3 font-weight-400 text-text-2" data-v-58f78eca="">
              There are JSX, Typescript, TSX, CoffeeScript, Pug, Less, Sass,
              SCSS, Stylus. And latest Babel preset.
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-sm-12" data-v-58f78eca="">
        <div class="" data-v-58f78eca="">
          <div class="browser" data-v-58f78eca="">
            <img
              class="w-100 lazy entered loaded"
              data-src="assets/img/languages.f9d0e6ac.png"
              alt="PLAYCODE languages"
              data-v-58f78eca=""
              style="aspect-ratio: 2032 / 1334"
              data-ll-status="loaded"
              src="assets/img/languages.f9d0e6ac.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
