<div class="bg-bg-2" data-v-4987e748="">
  <div class="py-10" data-v-4987e748=""></div>
  <div class="container-max-sm" data-v-a78f53ac="" data-v-4987e748="">
    <div class="row" data-v-a78f53ac="">
      <div
        class="col-24 py-5 text-center pt-8 text-break-word"
        data-v-a78f53ac=""
      >
        <h3
          class="text-text-2 font-size-38 mb-4 mt-0 font-weight-600 header-shadow"
          data-v-a78f53ac=""
        >
          The Fastest Live View
        </h3>
        <div
          class="d-flex align-items-center justify-content-center"
          data-v-a78f53ac=""
        >
          <p
            class="font-size-16 text-text-2 my-0 py-0 max-w-550 text-center"
            style="vertical-align: middle"
            data-v-a78f53ac=""
          >
            See results as you type, instantly.
            <span class="text-text-3" data-v-a78f53ac=""
              >Speed-up learning and code debugging. PlayCode is the fastest
              coding experience ever.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="browser-cnt mt-10 pb-8" data-v-a78f53ac="">
      <div class="browser" data-v-a78f53ac="">
        <video
          autoplay=""
          loop=""
          playsinline=""
          class="lazy w-100 entered loaded"
          data-v-a78f53ac=""
          style="aspect-ratio: 1858 / 1334"
          data-ll-status="entered"
        >
          <source
            data-src="assets/video/live-view-delay.22fb4461.mp4"
            type="video/mp4"
            data-v-a78f53ac=""
            src="assets/video/live-view-delay.22fb4461.mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <div class="py-10" data-v-4987e748=""></div>
</div>
